#sizeC {
    visibility: collapse;
  }
  
#sauceC {
     visibility: collapse;
  }
  
#cheeseC {
     visibility: collapse;
  }
  
#cheesetwoC {
     visibility: collapse;
  }
  
#meatC {
     visibility: collapse;
  }
  
#meattwoC {
     visibility: collapse;
  }
  
#veggieC {
     visibility: collapse;
  }
  
#veggietwoC {
     visibility: collapse;
  }
  
#herbsC {
     visibility: collapse;
  }
  
#dressingC {
     visibility: collapse;
  }
  
#finalC {
     visibility: collapse;
  }

#main {
    visibility: visible;
}

#output {
  white-space: pre-line;
}