.sizeC {
    display: none;
  }
  
.sauceC {
    display: none;
  }
  
.cheeseC {
    display: none;
  }
  
.cheesetwoC {
    display: none;
  }
  
.meatC {
    display: none;
  }
  
.meatwoC {
    display: none;
  }
  
.veggiesC {
    display: none;
  }
  
.veggiestwoC {
    display: none;
  }
  
.herbsC {
    display: none;
  }
  
.dressingC {
    display: none;
  }
  
.finalC {
    display: none;
  }